<template>
    <section class="container">
      <div style="width:500px;">

        <app-logo/>
        <div class="links">
          <nuxt-link
                  v-for="locale in $i18n.locales"
                  v-if="locale.code !== $i18n.locale"
                  :key="locale.code"
                  class="lang-switcher"
                  :to="switchLocalePath(locale.code)">{{ locale.name }}</nuxt-link>
        </div>
        <h1 class="title">
          vue-currency-converter
        </h1>

        <nuxt/>

      </div>
    </section>
</template>

<script>
    import AppLogo from '~/components/AppLogo.vue'

    export default {
        components: {
            AppLogo
        }
    }
</script>
