<template>

    <div>
        <div v-if="this.$store.state.converter.success !== null">
            <div v-if="this.$store.state.converter.success" >
                <p style="color:green;">{{ $t('success')}}</p>

                <nuxt-link :to="localePath('result')" class="v-btn" >{{ $t('res')}}</nuxt-link>
            </div>
            <div v-else style="color: red;">
                {{ $t('error')}} {{ this.$store.state.converter.error }}
            </div>
        </div>

        <div>
            <v-select
                    v-model="selected"
                    :items="currencies"
                    attach
                    chips
                    :label="$t('currencies')"
                    multiple
            ></v-select>
        </div>

        <div>
            <v-select
                    :items="currencies"
                    v-model="base"
                    attach
                    :label="$t('base')"
            ></v-select>
        </div>

        <div>
                <v-menu
                        ref="menu"
                        :close-on-content-click="false"
                        v-model="menu"
                        attach
                        :nudge-right="40"
                        :return-value.sync="date_start"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                >
                    <v-text-field
                            slot="activator"
                            v-model="date_start"
                            :label="$t('date_start')"
                            prepend-icon="event"
                            readonly
                    ></v-text-field>
                    <v-date-picker v-model="date_start" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu.save(date_start)">OK</v-btn>
                    </v-date-picker>
                </v-menu>
        </div>

        <div>
            <v-menu
                    ref="menu_2"
                    :close-on-content-click="false"
                    v-model="menu_2"
                    attach
                    :nudge-right="40"
                    :return-value.sync="date_finish"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
            >
                <v-text-field
                        slot="activator"
                        v-model="date_finish"
                        :label="$t('date_finish')"
                        prepend-icon="event"
                        readonly
                ></v-text-field>
                <v-date-picker v-model="date_finish" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu_2 = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu_2.save(date_finish)">OK</v-btn>
                </v-date-picker>
            </v-menu>
        </div>

        <div class="text-xs-center">
            <v-btn round color="primary" dark @click="convert">{{ $t('convert')}}</v-btn>
        </div>

    </div>
</template>

<script>

    export default {
        data () {
            return {
                menu:false,
                menu_2:false,
            }
        },
        computed: {
            currencies(){
                return this.$store.state.converter.currencies;
            },
            selected: {
                get () {
                    return this.$store.state.converter.selected;
                },
                set (value) {
                    this.$store.commit('converter/UPDATE_SELECTED', value)
                }
            },
            base: {
                get () {
                    return this.$store.state.converter.base;
                },
                set (value) {
                    this.$store.commit('converter/UPDATE_BASE', value)
                }
            },
            date_start: {
                get () {
                    return this.$store.state.converter.date_start;
                },
                set (value) {
                    this.$store.commit('converter/UPDATE_DATE_START', value)
                }
            },
            date_finish: {
                get () {
                    return this.$store.state.converter.date_finish;
                },
                set (value) {
                    this.$store.commit('converter/UPDATE_DATE_FINISH', value)
                }
            }
        },
        methods: {
            async convert(){
                this.$store.commit('converter/CLEAR_MESSAGE')

                console.log(this.selected);

                await this.$store.dispatch('converter/convert', {
                    start_at: this.date_start,
                    end_at: this.date_finish,
                    base: this.base,
                    symbols: this.selected.join(',')
                });
            },
            formatDate(data){
                let arr = data.split('-');
                return arr[0] + '-' + arr[2] + '-' + arr[1];
            }
        }
    }
</script>
