<template>

  <div>
    <h1 class="title">{{ $t('welcome')}}</h1>
    <div class="links">
      <nuxt-link :to="localePath('converter')" >{{ $t("go_convert") }}</nuxt-link>
    </div>
  </div>

</template>

<script>
import AppLogo from '~/components/AppLogo.vue'

export default {
  components: {
    AppLogo
  }
}
</script>
