<template>
  <div>
    <div v-if="this.$store.state.converter.result.length > 0">
      <p>{{ $t('base')}} <strong>{{ this.$store.state.converter.base }}</strong></p>
      <p>{{ $t('date') }}: {{ this.$store.state.converter.date_start }} - {{ this.$store.state.converter.date_finish }}</p>

      <v-data-table
              :headers="headers"
              :items="this.$store.state.converter.result"
              class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.date }}</td>
          <td>
            <div v-bind:key="key" v-for="(item,key) in props.item.currency" style="text-align: left;">
              {{ key }} - {{ item }}
            </div>
          </td>
        </template>
      </v-data-table>

    </div>
    <div v-else>
      {{ $t('res_not_found')}}
      <div class="links">
        <nuxt-link :to="localePath('converter')" >{{ $t("go_convert") }}</nuxt-link>
      </div>
    </div>

  </div>
</template>

<script>


export default {
    data () {
        return {
            headers: [
                {
                    text: this.$t('date'),
                    align: 'left',
                    sortable: true,
                    value: 'date'
                },
                {
                    text: this.$t('currency'),
                    align: 'left',
                    sortable: false,
                    value: 'currency'
                },
            ]
        }
    },
  components: {

  }
}
</script>

